### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
pymoli = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
heroes_data = pd.read_csv(pymoli)
heroes_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [3]:
#count the number of players
players= len(heroes_data["SN"].value_counts())
#create data frame to display number of players
player_count=pd.DataFrame([players], columns = ["Total Players"])
player_count.head()

   Total Players
0            576

* Display the total number of players

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#count the number of unique items
Unique_Items = len(heroes_data["Item Name"].unique())
#calculate average price
averageprice = heroes_data["Price"].mean()
#count the item list
PurchaseCount = len(heroes_data["Item Name"])
#
revenue = heroes_data["Price"].sum()
#create dataframe to display Purchase Analysis
Purchasing_DataFrame = pd.DataFrame({"Number of Unique Items": [Unique_Items],
                                    "Average Price": [averageprice],
                                    "Number of Purchases": [PurchaseCount],
                                    "Total Revenue": [revenue]})
#format prices
Purchasing_DataFrame["Average Price"] = Purchasing_DataFrame["Average Price"].map("${:.2f}".format)
Purchasing_DataFrame["Total Revenue"] = Purchasing_DataFrame["Total Revenue"].map("${:.2f}".format)
Purchasing_DataFrame.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#groupby to select gender
gender_demographics = heroes_data.groupby("Gender")
total_each_gender = gender_demographics.nunique()["SN"]
#calculate percentage for each gender
player_percentage = (total_each_gender/players)*100
#create dataframe to display data
gender_dataframe = pd.DataFrame({"Percentage of Players": player_percentage,
                                "Total Count": total_each_gender})
#display dataframe
gender_dataframe["Percentage of Players"] = gender_dataframe["Percentage of Players"].map("{:.2f}%".format)
gender_dataframe.head()

                      Percentage of Players  Total Count
Gender
Female                               14.06%           81
Male                                 84.03%          484
Other / Non-Disclosed                 1.91%           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#count purchases
purchases = gender_demographics["Purchase ID"].count()
#calculate price average
avg_price = gender_demographics["Price"].mean()
#add the total purchases
avg_purchase = gender_demographics["Price"].sum()
#calculate total per person by gender
avg_perperson = avg_purchase/total_each_gender
#create dataframe to display data
gender_purchasesdf = pd.DataFrame({"Purchase Count": purchases,
                                  "Average Purchase Price": avg_price,
                                  "Total Purchase Value": avg_purchase,
                                  "Average Purchase Total per Person by Gender": avg_perperson})
#format prices and display dataframe
gender_purchasesdf["Average Purchase Price"] = gender_purchasesdf["Average Purchase Price"].map("${:.2f}".format)
gender_purchasesdf["Average Purchase Total per Person by Gender"] = gender_purchasesdf["Average Purchase Total per Person by Gender"].map("${:.2f}".format)
gender_purchasesdf["Total Purchase Value"] = gender_purchasesdf["Total Purchase Value"].map("${:.2f}".format)
gender_purchasesdf.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Gender
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#create bins to hold ages
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 100]
#label bins
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]
bin_names
#slice info into bins
pd.cut(heroes_data["Age"],bins, labels=bin_names).head()
heroes_data["Age Group"] = pd.cut(heroes_data["Age"],bins, labels=bin_names)
heroes_data
#group by ages
age_group = heroes_data.groupby("Age Group")
age_group.head()
#cut out duplicates
age_count = age_group.nunique()["SN"]
age_count.head()
#calculate percentage in each age group
age_percent = (age_count/players)*100
#create and display data frame for age demographics
age_demodf = pd.DataFrame({"Total Count": age_count, "Percentage of Players": age_percent})
age_demodf["Percentage of Players"] = age_demodf["Percentage of Players"].map("{:.2f}%".format)
age_demodf.head()

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#count purhcase IDS
purchase_count= age_group["Purchase ID"].count()
#calculate the average purchase price
avg_purchase_age = age_group["Price"].mean()
#calculate the total prices
total_purchase= age_group["Price"].sum()
#create data frame
purchase_df = pd.DataFrame({"Purchase Count": purchase_count,
                           "Average Purchase Price": avg_purchase_age,
                           "Total Purchase per Person": total_purchase})
#format dollar amounts and display dataframe
purchase_df["Average Purchase Price"] = purchase_df["Average Purchase Price"].map("${:.2f}".format)
purchase_df["Total Purchase per Person"] = purchase_df["Total Purchase per Person"].map("${:.2f}".format)

purchase_df.head()

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
#groupby for different players
spender_count= heroes_data.groupby("SN")
#count number of spenders
purchase_count= spender_count["Purchase ID"].count()
#calculate average price per spender
avg_priceperspender= spender_count["Price"].mean()
#total purchases per spender
total_purchase= spender_count["Price"].sum()
#create dataframe to display data
top_spenders_df= pd.DataFrame({"Purchase Count": purchase_count,
                              "Average Purchase Price": avg_priceperspender,
                              "Total Purchase Value": total_purchase})
#sort spender by largest total value
top_spenders_df_sorted= top_spenders_df.sort_values("Total Purchase Value", ascending=False).head()
#format dollar amounts
top_spenders_df_sorted["Average Purchase Price"]=top_spenders_df_sorted["Average Purchase Price"].map("${:.2f}".format)
top_spenders_df_sorted["Total Purchase Value"]=top_spenders_df_sorted["Total Purchase Value"].map("${:.2f}".format)
top_spenders_df_sorted.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
#groupby item ID and Item Name
itemsgroup = heroes_data.groupby(["Item ID","Item Name"])
#purchase count
purchase_item_count = itemsgroup["SN"].count()
#add total purchase price
price= itemsgroup["Price"].sum()
#calculate price per item
each_price = (price/purchase_item_count)
#create dataframe
Popular_items_df=pd.DataFrame({"Purchase Count": purchase_item_count,
                              "Item Price": each_price,
                              "Total Purchase Value": price})
#sort data and format pricing
Popular_items_df=Popular_items_df.sort_values("Purchase Count", ascending = False)
Popular_items_df["Item Price"] = Popular_items_df["Item Price"].map("${:.2f}".format)
Popular_items_df["Total Purchase Value"] = Popular_items_df["Total Purchase Value"].map("${:.2f}".format)
Popular_items_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [8]:
#groupby Item ID and Item Name
itemsgroup = heroes_data.groupby(["Item ID","Item Name"])
#count purchases
purchase_item_count = itemsgroup["SN"].count()
#calculate total price
price= itemsgroup["Price"].sum()
#calcluate price per item
each_price = (price/purchase_item_count)
#create data frame
Popular_items_df=pd.DataFrame({"Purchase Count": purchase_item_count,
                              "Item Price": each_price,
                              "Total Purchase Value": price})
#sort, format dollar amount, and display data frame data
Popular_items_df=Popular_items_df.sort_values("Total Purchase Value", ascending = False)
Popular_items_df["Item Price"] = Popular_items_df["Item Price"].map("${:.2f}".format)
Popular_items_df["Total Purchase Value"] = Popular_items_df["Total Purchase Value"].map("${:.2f}".format)
Popular_items_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80